*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .5s ease-in-out;
 }

.px-50 {
    padding: 0 50px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 1400px;
}

header img {
    width: 148px;
    height: 148px;
}

.head-btn button {
    background-color: white;
    border: 0;
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin: 0 15px;
    transition: color .5s, font-size .5s;
}

.head-btn button:hover {
    color: #003C9C;
    font-size: 21px;
}

.main {
    display: flex;
    justify-content: center;
}
 
.main img {
    z-index: -1;
    position: absolute;
	width: 1280px;
}

.main-text {
    margin-top: 30px;
    width: 550px;
    margin: 170px 685px 0 0;
    font-family: "montserrat", sans-serif;
    font-style: normal;

}

.main-text h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;
}

.main-text h5 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.main-text p {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
}

.main-btn {
    font-family: "montserrat", sans-serif;
    font-style: normal;
    margin: auto;
    max-width: 1400px;
}

.main-btnz button {
    font-weight: 500;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 35px 0 0 80px; 
    font-weight: 500;
    font-size: 20px;
    border: 0;
    padding: 15px 32px;
    background: #3399FF;
    border-radius: 30px;
    color: #ffffff;
    
}

.main-btnz button:hover {
    box-shadow: 0 0 0 silver;
    transform: scale(1.1);
}

.main-btnl button {
    font-weight: 500;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: 325px;
    margin: 15px 0 0 80px; 
    font-weight: 500;
    font-size: 20px;
    border: 0;
    padding: 15px 32px;
    background: #FF862D;
    border-radius: 30px;
    color: #ffffff;
}

.main-btnl button:hover {
    box-shadow: 0 0 0 silver;
    transform: scale(1.1);
}

.o-school {
    margin: auto;
    max-width: 1400px;
}

.o-school h1 {
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    margin: 170px 0 0 80px;
    width: 160px;
}

.rabotaem {
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.83);
    display: flex;
    margin: 70px 90px 30px 105px;
    justify-content: space-between;
}

.o-school img {
    display: block;
    margin:  auto;
    width: 1100px;
}

.cifra {
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 56px;
    text-align: center;
    text-transform: lowercase;
    display: flex;
    flex-direction: row;
    margin: -15px 0 0 0;
}

.cifra h1:hover {
    box-shadow: 0 0 0 silver;
    transform: scale(1.1);
}

.cifra h1 {
    width: 232px;
    height: 39px;
    margin: 45px 75px 0 50px;
    color: #2165C5;
}

.cifra h2 {
    width: 232px;
    height: 39px;
    margin: 45px 40px 0 17px;
    color: #367FD0;
}

.cifra h2:hover {
    box-shadow: 0 0 0 silver;
    transform: scale(1.1);
}

.cifra h3 {
    width: 232px;
    height: 39px;
    margin: 45px 40px 0 75px;
    color: #4B99DC;
}

.cifra h3:hover {
    box-shadow: 0 0 0 silver;
    transform: scale(1.1);
}

.cifra h4 {
    width: 232px;
    height: 39px;
    margin: 45px 40px 0 135px;
    color: #67BBEB;
}

.cifra h4:hover {
    box-shadow: 0 0 0 silver;
    transform: scale(1.1);
}

.textoschool {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.textoschool h5 {
    width: 800px;
    height: 300px;
    left: 86px;
    top: 1285px;
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: black;
    margin: 100px 0 0 105px;
    line-height: 30px;
}

.textoschool img {
    width: 570px;
    height: 350px;
    margin: 90px 0 0 100px;
}

.napravlenya {
    margin: auto;
    max-width: 1400px;
}

.napravlenya h1 {
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    margin: 90px 0 0 80px;
    width: 150px;
}

.napravlenya h2 {
    width: 1163px;
    height: 26px;
    left: 83px;
    top: 1749px;
    margin: 20px 0 0 80px;
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.85);
}

.naprs {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 50px;
}

.bacnapr button {
    height: 200px;
    padding: 10px;
    background: linear-gradient(255.89deg, #3FFFFF 0%, #0DA47F 100%);    
    display: flex;
    flex-direction: column;
    transition: all .5s;
    margin-bottom: 50px;
    color: white;
    border: 0;
}

.bacnapr img {
    width: 141px;
    height: 141px;
    margin: 19px 12px 20px 206px;
}

.bacnapr p {
    width: 106px;
    background-color: #188C8C;
    border-radius: 12px;
    margin: -170px 238px 132px 15px; 
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    color: white;
}

.bacnapr h1 {
    width: 250px;
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: white;
    margin: -50px 68px 13px 15px;
    text-align: left;
}


.bacnapr2 button {
    height: 200px;
    padding: 10px;
    background: linear-gradient(255.89deg, rgba(40, 255, 216, 0.9) 0%, rgba(13, 37, 164, 0.9) 100%);
    display: flex;
    flex-direction: column;
    transition: all .5s;
    margin-bottom: 50px;
    color: white;
    border: 0;
}

.bacnapr2 img {
    width: 137px;
    height: 137px;
    margin: 10px 20px 33px 202px;
}

.bacnapr2 p {
    width: 106px;
    background: #103BA9;
    border-radius: 12px;
    margin: -170px 238px 132px 15px; 
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    color: white;
}

.bacnapr2 h1 {
    width: 220px;
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: white;
    margin: -50px 68px 13px 15px;
    text-align: left;
}

.bacnapr3 button {
    height: 200px;
    padding: 10px;
    background: linear-gradient(255.89deg, rgba(255, 230, 0, 0.9) 0%, rgba(255, 122, 0, 0.9) 100%); 
    display: flex;
    flex-direction: column;
    transition: all .5s;
    margin-bottom: 50px;
    color: white;
    border: 0;
}

.bacnapr3 img {
    width: 100px;
    height: 117px;
    margin: 10px 24px 53px 235px;
}

.bacnapr3 p {
    width: 106px;
    background: #DE5D00;
    border-radius: 12px;
    margin: -170px 238px 132px 15px; 
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    color: white;
}

.bacnapr3 h1 {
    width: 260px;
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: white;
    margin: -50px 68px 13px 15px;
    text-align: left;
}


.bacnapr4 button {
    height: 200px;
    padding: 10px;
    background: linear-gradient(255.89deg, rgba(191, 7, 221, 0.9) 0%, rgba(64, 0, 145, 0.9) 100%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transition: all .5s;
    margin-bottom: 50px;
    color: white;
    border: 0;
}

.bacnapr4 img {
    width: 115px;
    height: 115px;
    margin: 8px 27px 57px 217px;
}

.bacnapr4 p {
    width: 106px;
    background: #BA07DA;    
    border-radius: 12px;
    margin: -170px 238px 132px 15px; 
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    color: white;
}

.bacnapr4 h1 {
    width: 250px;
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: white;
    margin: -50px 68px 13px 15px;
    text-align: left;
}

.bacnapr5 button {
    height: 200px;
    padding: 10px;
    background: linear-gradient(255.89deg, rgba(244, 46, 42, 0.9) 0%, rgba(255, 130, 40, 0.9) 100%);  
    display: flex;
    flex-direction: column;
    transition: all .5s;
    margin-bottom: 50px;
    color: white;
    border: 0;
}

.bacnapr5 img {
    width: 115px;
    height: 115px;
    margin: 8px 27px 57px 217px;
}

.bacnapr5 p {
    width: 106px;
    background: #FF8028;    
    border-radius: 12px;
    margin: -170px 238px 132px 15px; 
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    color: white;
}

.bacnapr5 h1 {
    width: 220px;
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: white;
    margin: -50px 68px 13px 15px;
    text-align: left;
}

.bacnapr6 button {
    height: 200px;
    padding: 10px;
    background: linear-gradient(255.89deg, rgba(40, 62, 255, 0.9) 0%, rgba(26, 190, 161, 0.9) 100%);   
    display: flex;
    flex-direction: column;
    transition: all .5s;
    margin-bottom: 50px;
    color: white;
    border: 0;
}

.bacnapr6 img {
    width: 115px;
    height: 115px;
    margin: 8px 27px 57px 217px;
}

.bacnapr6 p {
    width: 106px;
    background: #3241F6;    
    border-radius: 12px;
    margin: -170px 238px 132px 15px; 
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    color: white;
}

.bacnapr6 h1 {
    width: 220px;
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: white;
    margin: -50px 68px 13px 15px;
    text-align: left;
}

.bacnapr7 button {
    height: 200px;
    padding: 10px;
    background: linear-gradient(255.89deg, rgba(101, 112, 211, 0.9) 0%, rgba(1, 219, 185, 0.9) 100%);    
    display: flex;
    flex-direction: column;
    transition: all .5s;
    margin-bottom: 50px;
    color: white;
    border: 0;
}

.bacnapr7 img {
    width: 115px;
    height: 115px;
    margin: 8px 27px 57px 217px;
}

.bacnapr7 p {
    width: 106px;
    background: #4059E2;   
    border-radius: 12px;
    margin: -170px 238px 132px 15px; 
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    color: white;
}

.bacnapr7 h1 {
    width: 220px;
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: white;
    margin: -50px 68px 13px 15px;
    text-align: left;
}

.bacnapr8 button {
    height: 200px;
    padding: 10px;
    background: linear-gradient(255.89deg, rgba(0, 170, 255, 0.9) 0%, rgba(255, 199, 0, 0.9) 100%); 
    display: flex;
    flex-direction: column;
    transition: all .5s;
    margin-bottom: 50px;
    color: white;
    border: 0;
}

.bacnapr8 img {
    width: 115px;
    height: 115px;
    margin: 8px 27px 57px 217px;
}

.bacnapr8 p {
    width: 106px;
    background: #24B4F5;    
    border-radius: 12px;
    margin: -170px 238px 132px 15px; 
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    color: white;
}

.bacnapr8 h1 {
    width: 220px;
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: white;
    margin: -50px 68px 13px 15px;
    text-align: left;
}

.bacnapr9 button {
    height: 200px;
    padding: 10px;
    background: linear-gradient(255.89deg, rgba(255, 117, 40, 0.9) 0%, rgba(216, 0, 129, 0.9) 100%);
    display: flex;
    flex-direction: column;
    transition: all .5s;
    margin-bottom: 50px;
    color: white;
    border: 0;
}

.bacnapr9 img {
    width: 115px;
    height: 115px;
    margin: 8px 27px 57px 217px;
}

.bacnapr9 p {
    width: 106px;
    background: #AF1D75;    
    border-radius: 12px;
    margin: -170px 238px 132px 15px; 
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    color: white;
}

.bacnapr9 h1 {
    width: 250px;
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: white;
    margin: -50px 68px 13px 15px;
    text-align: left;
}

.bacnapr10 button {
    height: 200px;
    padding: 10px;
    background: linear-gradient(255.89deg, rgba(255, 176, 120, 0.9) 0%, rgba(255, 130, 40, 0.9) 100%);
    display: flex;
    flex-direction: column;
    transition: all .5s;
    margin-bottom: 50px;
    color: white;
    border: 0;
}

.bacnapr10 img {
    width: 115px;
    height: 115px;
    margin: 8px 27px 57px 217px;
}

.bacnapr10 p {
    width: 106px;
    background: #FF8028;    
    border-radius: 12px;
    margin: -170px 238px 132px 15px; 
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    color: white;
}

.bacnapr10 h1 {
    width: 180px;
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: white;
    margin: -50px 68px 13px 15px;
    text-align: left;
}

.bacnapr img:hover {
    box-shadow: 0 0 0 silver;
    transform: scale(1.1);
}

.bacnapr2 img:hover {
    box-shadow: 0 0 0 silver;
    transform: scale(1.1);
}

.bacnapr3 img:hover {
    box-shadow: 0 0 0 silver;
    transform: scale(1.1);
}

.bacnapr4 img:hover {
    box-shadow: 0 0 0 silver;
    transform: scale(1.1);
}

.bacnapr5 img:hover {
    box-shadow: 0 0 0 silver;
    transform: scale(1.1);
}

.bacnapr6 img:hover {
    box-shadow: 0 0 0 silver;
    transform: scale(1.1);
}

.bacnapr7 img:hover {
    box-shadow: 0 0 0 silver;
    transform: scale(1.1);
}

.bacnapr8 img:hover {
    box-shadow: 0 0 0 silver;
    transform: scale(1.1);
}

.bacnapr9 img:hover {
    box-shadow: 0 0 0 silver;
    transform: scale(1.1);
}

.bacnapr10 img:hover {
    box-shadow: 0 0 0 silver;
    transform: scale(1.1);
}

.cmena {
    margin: auto;
    max-width: 1400px;
}

.cmena h1 {
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    margin: 90px 0 0 80px;
    
}

.cmena h2 {
    width: 1163px;
    height: 26px;
    left: 83px;
    top: 1749px;
    margin: 20px 0 0 80px;
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.85);
}

.cmens {
    display: flex;
    justify-content: space-between;

    
}

.cmens h3 {
    width: 600px;
    height: 291px;
    left: 86px;
    top: 1285px;
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.85);
    margin: 50px 0 0 85px;
    line-height: 30px;
}

.cmens img {
    width: 609px;
    height: 340px;
    margin: 100px;
    align-items: center;
    margin: 40px 0 0 0;
}

.cmena button {
    width: 205px;
    background: #FF8028;    
    margin: 0 0 0 85px; 
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    background: #1A3E98;
    line-height: 45px;
    border-radius: 14px;
    color: white;
    border: 15;
    border-color: #4DE4F9 ;
}

.contacts {
    margin: auto;
    max-width: 1400px;
}

.contacts-img img {
    width: 1688px;
    height: 1001px;
    margin: -130px 0 0 0;
    top:0;
    left:0;  
    min-width:100%;
    min-height:100%;
}

.contacts {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1400px;
}

.contacts h1 {
    width: 300px;
    height: 84px;
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 41px;
    text-align: center;
    color: white;
    margin: -450px 0 0 130px;
}

.contacts h2 {
    width: 391px;
    height: 185px;
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 31px;
    text-align: center;
    color: white;
    margin: 10px 0 0 90px;
}

.contacts h3 {
    width: 350px;
    height: 185px;
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: white;
    margin: -100px 0 0 100px;
}

.icon {
    display: flex;
    justify-content: flex-start;
}

.icon img{
    width: 50px;
    height: 50px;
    margin: -100px -200px 68px 220px;
}

.contacts iframe {
    width: 700px;
    margin: -470px 200px 0 600px;
}
